* {
  margin: 0;
  padding: 0;
}
body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Mea Culpa", serif !important;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.galleryLinesDiv {
  .galleryButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container {
    height: 21rem;
    position: relative;
    overflow: hidden;
  }

  .photobanner {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    white-space: nowrap;
    animation: bannermove 30s linear infinite;
  }

  .photobanner img {
    margin: 0.5em;
    border: none;
    height: 20rem;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.327);
    width: 20rem;
    object-fit: cover;
    object-position: center;
  }
  .photobanner img:nth-child(odd) {
    width: 33rem;
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blanchedalmond;
  padding: 8rem 0;
  .heading {
    box-shadow: 0 0 20px rgba(139, 0, 0, 0.748);
    padding: 5rem;
    border-radius: 1rem;
    text-align: center;
    h1 {
      font-size: 4rem;
      font-weight: 900;
      text-shadow: brown 2px 2px 10px;
    }
  }
  .imagesBar {
    width: 100%;
    margin: 3rem;
    padding: 2rem 0;
    padding-top: 0;
    .titleDiv {
      text-align: center;
      margin: 2rem;
    }
  }
}

.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  .addingButtons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
}

.specificAlbumContainer {
  padding: 8rem 0;
  background-color: antiquewhite;
  h1 {
    margin: 2rem;
    text-shadow: rgba(165, 42, 42, 0.767) 2px 2px 10px;
  }
}
